<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yy.mapper.YyPriceHistoryMapper">

    <resultMap type="YyPriceHistory" id="YyPriceHistoryResult">
        <id property="id" column="id"/>
        <result property="sourcePlatform" column="source_platform"/>
        <result property="skuId" column="sku_id"/>
        <result property="productName" column="product_name"/>
        <result property="specification" column="specification"/>
        <result property="manufacturer" column="manufacturer"/>
        <result property="priceCurrent" column="price_current"/>
        <result property="priceRetail" column="price_retail"/>
        <result property="priceAssemble" column="price_assemble"/>
        <result property="stockQuantity" column="stock_quantity"/>
        <result property="freightAmount" column="freight_amount"/>
        <result property="shopName" column="shop_name"/>
        <result property="collectedAt" column="collected_at"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="insert" parameterType="YyPriceHistory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO yy_price_history
        (source_platform, sku_id, product_name, specification, manufacturer,
         price_current, price_retail, price_assemble, stock_quantity,
         freight_amount, shop_name, collected_at)
        VALUES
        (#{sourcePlatform}, #{skuId}, #{productName}, #{specification}, #{manufacturer},
         #{priceCurrent}, #{priceRetail}, #{priceAssemble}, #{stockQuantity},
         #{freightAmount}, #{shopName}, #{collectedAt})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO yy_price_history
        (source_platform, sku_id, product_name, specification, manufacturer,
         price_current, price_retail, price_assemble, stock_quantity,
         freight_amount, shop_name, collected_at)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.sourcePlatform}, #{item.skuId}, #{item.productName}, #{item.specification}, #{item.manufacturer},
             #{item.priceCurrent}, #{item.priceRetail}, #{item.priceAssemble}, #{item.stockQuantity},
             #{item.freightAmount}, #{item.shopName}, #{item.collectedAt})
        </foreach>
    </insert>

    <select id="selectByPlatformAndSku" resultMap="YyPriceHistoryResult">
        SELECT * FROM yy_price_history
        WHERE source_platform = #{sourcePlatform}
        AND sku_id = #{skuId}
        <if test="startTime != null">
            AND collected_at <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null">
            AND collected_at <![CDATA[ <= ]]> #{endTime}
        </if>
        ORDER BY collected_at ASC
    </select>

    <delete id="deleteOlderThan">
        DELETE FROM yy_price_history WHERE collected_at <![CDATA[ < ]]> #{beforeTime}
    </delete>

</mapper>
